<div class="product-details flex gap-4 items-center justify-between p-4">
  <div class="image-container flex-1">
    <img src="{{%PRODUCT_IMAGE%}}" class="w-full" />
  </div>
  <div class="product-info flex-1">
    <h2 class="font-bold mb-2">{{%TITLE%}} <span class="bg-green-400 px-2 py-1 rounded-md font-normal text-sm">discount of INR {{%DISCOUNT%}}</span></h2>
    <p class="font-medium mb-2">Product Description</p>
    <p class="text-sm mb-4">{{%DESCRIPTION%}}</p>
    <p class="text-sm">
      Price: <span class="font-medium">INR {{%PRICE%}}</span>
    </p>
    <p class="text-sm">Category: {{%CATEGORY%}}</p>
    <p class="text-sm">Brand: {{%BRAND%}}</p>
    <p class="text-sm">Rating: {{%RATING%}} stars</p>
    <p class="px-4 py-2 rounded border border-gray-200 mt-6">{{%STOCKS%}} in {{%IN_STOCKS%}}s</p>
  </div>
</div>
